@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@font-face {
    font-family: "Kaph";
    src: url(/Kaph-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: "Kaph";
    src: url(/Kaph-Italic.ttf);
    font-style: italic;
}

[data-theme=dark] header.header, [data-theme=dark] div.content, [data-theme=dark] footer, [data-theme=dark] .menu {
    background: #1d1b33;
}

a {
    color: #eb4b42;
    font-family: 'JetBrains Mono';
}

h1 {
    color: #eb4b42;
    font-family: 'Kaph';
    font-weight: 500;
}

h2 {
    color: #eb4b42;
    font-family: 'Kaph';
    font-weight: 500;
}

blockquote {
    border-left: 3px solid #eb4b42;
}


.toolbar-item span {
    display: none;
}

.menu, span.post-title {
    font-family: 'JetBrains Mono';
}